/* Estilos adicionales para el formulario de pago */
#pago-form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

.tarjeta-form {
    display: none; /* Inicialmente oculto */
}

#montos {
    margin-top: 10px;
}

#montos p {
    margin-bottom: 5px;
}
